header .navbar .navbar-nav .active {
    color: #EE8E3D;

}

header .navbar .navbar-nav a.active {
    border-bottom: 1px solid #EE8E3D;
}

header .navbar .navbar-brand img {
    width: 40px;
    height: 40px;
}

header #login {
    background-color: #f4a825 !important;
    border: 0 !important;
    transition: all 1.5s ease-in;
}
header #login:hover
{
    color:#987129;
}
header #newMember {
    margin-left: 15vh;
}

@media only screen and (max-width: 992px) {

    /* default iPad screens */
    header .navbar .navbar-nav a {
        text-align: center;
    }

    header .left-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header #login {
        display: block;
        padding-right: 20vh;
        padding-left: 20vh;
    }

    header #newMember {
        margin: 15px auto;

        padding-right: 20vh;
        padding-left: 20vh;
    }
}

main {
    overflow-x: hidden;
    margin-top: 10px;
}

main .border-right {
    width: 400px;
    height: 400px;
    transform: translateX(65%);
    border: 30px solid #F4A825;
    border-radius: 298px;
    
}
main  .btn-primary {
    background-color: #f4a825 !important;
    border: 0;
    margin: 5px 5px;
}
main  .btn-primary:hover{
    color: #f4a825 !important;
    background-color: #333 !important;
}
main .textsmart .titile{
    color: #F4A825;
    margin-bottom: 1vw;
}
main .textsmart .titile span{
    color: #3485B9;
}
main .img-left img{
    width: 100%;
}
main .leftborder{
    width: 215px;
height: 215px;
border: 40px solid #3485B9;
border-radius: 298px;
}
@media only screen and (max-width:779px) {
    main .border-right{
        display: none;
    }
    main .leftborder{
        display: none;
    }
    main .textsmart .titile{
        text-align: center;
    }
    main .textsmart{
        text-align: center;
        margin-bottom: 20px;
    }
}

/* end main */

/* start task-company */
.task-company img{
    width: 70px;
}
.task-company img:last-child{
    width: 100%;
    align-self: auto;
}
/* end task-company */
/* start team */
.title{
    border-right: 5px solid #3485B9;
    padding: 10px;
    margin: 15px 0;
}
.title p {
    font-size: 20px;
    font-weight: 400;
}

/* end team */


/* start footer */
.footer{
    background-color: #3485B9;
    padding: 10px;
}
.footer img{
   padding: 5px;
   margin: 15px auto;
}
.footer button{
    background-color: #F4A825 !important;
    border-radius: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    border-bottom-left-radius: 15px !important;
    border-top-left-radius: 15px !important;
    padding: 10px !important;
    color: #333 !important;
}
.footer input[type="text"]{
    border-radius: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    border-bottom-right-radius: 15px !important;
    border-top-right-radius: 15px !important;
}
.footer p svg{
    padding: 5px;
    margin: 0 5px;
  /*   margin: 5px; */
}
.footer p{
    margin: 0 5px;
    padding: 5px;
}
/* end footer */